<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Калькулятор доставки 1.0</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

<div class="container my-2">
    <h1>Список транжир</h1>
    <div class="container overflow-hidden">
        <div class="row gy-5">
            <div class="col-6">

                <!-- IF CUSTOMER IS ANONYMOUS -->
                <div th:if="${delivery}">
                    <div th:text=" 'Доставка: ' + ${deliveryprice}"> </div>
                </div>
                <!-- ELSE -->
                <div th:unless="${delivery}">

                    <div>

                        <form action="#" th:action="@{/}" method="POST">
                            <div class="mb-3">
                            <input type="text" name="deliveryvalue" placeholder="Общая доставка"
                                   class="form-control">
                            </div>
                            <button type="submit" class="btn btn-outline-success"> Добавить</button>
                        </form>

                    </div>

                </div>

            </div>
        </div>
    </div>
<br>

    <table  class="table table-striped">
        <thead>
        <tr>
            <th>Имя подруженьки</th>
            <th>Сумма покупок</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="contact : ${listcontact}">
            <td th:text="${contact.getName()}"></td>
            <td th:text="${contact.getSummaPokupok()}"></td>

        </tr>
        </tbody>
    </table>
    <a th:href="@{/index}" class="btn btn-outline-primary mb-3"> Добавить еще одну подруженьку </a>
    <a th:href="@{/result}" class="btn btn-outline-primary mb-3"> Расчитать доставку </a>
</div>
</body>

</html>